/* CSS RESET */

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* BODY */

body {
    background-color: rgb(0, 0, 35);
}

/* HEADER */

header {
    background-color: blue;
}

header h1 {
    margin-left: 10px;
    padding: 20px;
    font-size: 40px;
}

header h1 a {
    color: white;
    text-decoration: none;
}

/* MAIN */

main {
    min-height: calc(100vh - 58px);
}

/* (index) */

h1.guide {
    text-align: center;
    margin: 30px 0;
    font-size: 40px;
    color: white;
}

div.religions {
    max-width: 1000px;
    width: 60vw;
    margin: 30px auto;
}

div.religions div {
    background-color: blue;
    border-radius: 15px;
    border: solid 5px navy;
    margin-bottom: 15px;
}

div.religions div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
}

div.religions div a p {
    text-align: center;
    padding: 18px;
}

/* (library) */

div.library {
    width: 60vw;
    margin: 30px auto;
    background-color: blue;
    border-radius: 15px;
    padding-bottom: 15px;
    border: solid 6px navy;
}

div.library h1 {
    text-align: center;
    padding: 15px;
    font-size: 35px;
    color: white;
    background-color: navy;
}

div.library h2 {
    padding: 10px 15px 10px 30px;
    font-size: 25px;
    color: white;
    background-color: navy;
    max-width: fit-content;
    margin: 8px 8px 8px 0;
    border-radius: 0 23px 23px 0;
}

div.library ul li {
    list-style-position: inside;
    color: white;
    font-size: 30px;
    margin: 8px 8px 8px 20px;
}

div.library ul li a {
    color: white;
    text-decoration: underline;
}

/* Library Menu */

div.menu {
    background-color: blue;
    border-radius: 15px;
    padding: 10px;
    margin: 30px 0;
    position: absolute;
    left: 2.5vw;
    width: 14vw;
    min-width: 280px;
    text-align: center;
    border: solid 5px navy;
}

div.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
}

div.menu a p {
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

div.menu a p:hover, div.menu a p.active {
    background-color: navy;
}

div.donation {
    background-color: blue;
    border-radius: 15px;
    padding: 10px;
    margin: 30px 0;
    position: absolute;
    right: 2.5vw;
    width: 280px;
    text-align: center;
    border: solid 5px navy;
    top: 85px;
}

div.donation img {
    width: 220px;
    height: auto;
    margin: .5vw auto;
    border: solid 5px navy;
    border-radius: 15px;
}

div.donation p {
    margin: 10px;
    font-size: 18px;
}

div.donation a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

/* topMenu */

div.topMenu {
    border-radius: 15px;
    margin: 30px auto;
    position: relative;
    justify-content: space-between;
    width: 90vw;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 5px;
    display: none;
}

div.topMenu div {
    display: inline-block;
    background-color: blue;
    border: solid navy 5px;
    padding: 15px 0;
    border-radius: 15px;
}

div.topMenu div:nth-child(1) {
    text-align: center;
}

div.topMenu div:nth-child(2) {
    width: 64vw;
    text-align: center;
    margin: 0 auto;
}

div.topMenu div:nth-child(3) {
    text-align: center;
}

div.topMenu div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

/* FOOTER */

footer {
    background-color: black;
    border-top: solid 5px white;
}

footer p.copy {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 15px;
}

/* MEDIA QUERIES */

@media (max-width: 1870px) {

    div.menu {
        left: 3.5vw;
    }

    div.library {
        width: 55vw;
    }

    div.donation {
        right: 3.5vw;
    }

}

@media (max-width: 1600px) {

    div.menu {
        left: 3.5vw;
        width: 16vw;
        min-width: 220px;
    }

    div.library {
        width: 53vw;
    }

    div.donation {
        right: 3.5vw;
        width: 16vw;
        min-width: 220px;
    }

    div.donation img {
        width: 200px;
    }

}

@media (max-width: 1500px) {

    div.menu {
        left: 4.5vw;
        width: 18vw;
        min-width: 200px;
    }

    div.library {
        width: 50vw;
    }

    div.donation {
        right: 4.5vw;
        width: 18vw;
        min-width: 200px;
    }

    div.donation img {
        width: 220px;
    }

}

@media (max-width: 1445px) {

    div.donation img {
        width: 200px;
    }

}

@media (max-width: 1300px) {

    div.menu {
        left: 5vw;
        width: 20vw;
        min-width: 180px;
    }

    div.library {
        width: 45vw;
    }

    div.donation {
        right: 5vw;
        width: 20vw;
        min-width: 180px;
    }

    div.donation img {
        width: 200px;
    }

}

@media (max-width: 1150px) {

    div.library {
        width: 67vw;
        margin-left: 28vw;
    }
    
    div.donation {
        display: none;
    }

}

@media (max-width: 960px) {

    div.religions {
        width: 80vw;
    }

}

@media (max-width: 830px) {

    div.topMenu {
        display: grid;
    }

    div.menu {
        display: none;
    }

    div.library {
        width: 90vw;
        margin-left: 5vw;
    }

}

@media (max-width: 800px) {

    header h1 {
        text-align: center
    }

}

@media (max-width: 670px) {
    
    div.religions div a {
        font-size: 28px;
    }

    h1.guide {
        font-size: 28px;
    }

}

@media (max-width: 600px) {

    header h1 {
        font-size: 25px;
        margin: 0;
        padding: 15px 0;
    }

    div.library h1 {
        font-size: 25px;
        padding: 10px;
    }

    h1.guide {
        font-size: 24px;
    }

}

@media (max-width: 425px) {

    div.topMenu {
        grid-template-columns: 2fr 5fr 2fr;
    }

    div.topMenu div {
        padding: 10px 0;
    }

    div.topMenu div a {
        font-size: 25px;
    }

    div.library h2 {
        font-size: 20px;
        padding: 8px 15px 8px 20px;
    }

    div.library a {
        font-size: 25px;
    }

    div.religions {
        width: 90vw;
    }

}

@media (max-width: 370px) {

    h1.guide {
        font-size: 20px;
    }

    div.religions div a {
        font-size: 22px;
    }

}